body{
        margin: 0;
        padding: 0;
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: normal;     
}
html,body{
    height: 100%;
    width: 100%;
}


.material-symbols-outlined {
    color: #fff;
    font-size: 30px;
    display: none;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(50, 50, 50, 1);
    position: relative;
    height: 35px;
}
.DemonLogo {
    font-family: "Kanit", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #171616;
    text-shadow: 
      -1px -1px 0 whitesmoke,  
       1px -1px 0 whitesmoke,  
      -1px  1px 0 whitesmoke,  
       1px  1px 0 whitesmoke; /* ซ้อนเงาเพื่อสร้าง stroke */
    text-align: center;

  }
.redLogo{
    color: #dd3030;
}

nav ul{
    display: flex;
    gap: 30px;
}
nav ul li {
    list-style-type: none;

}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
