@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{/*Reset ค่า margin padding ให้เป็น 0*/
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*ไม่ต้องคำนวนรวมกับขนาดกล่องกรณีต้องค่า margin padding*/
}



:root {
  --nav-color: rgba(50, 50, 50, 1);
  --nav-txt-white: rgba(173, 173, 173, 1);
  --Logo-red:#dd3030;
  --bg-dark:rgba(30, 27, 27, 1);;
  --Logo-dark:#2b2a2a;

}



/*size web */
/*Navbar Start*/

/*ขนาดจอ  */
@media (min-width: 1000px) {

.material-symbols-outlined {
    color: nav-txt-white;
    font-size: 30px;
    display: none;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
body{
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
    font-weight: 400px;
    font-style: normal;     
    background-color:  rgb(34, 32, 32);
   /* background-color: var(--bg-dark);*/
}
html,body{
height: 100%;
width: 100%;
}

.flex-nav {
  display: flex;
  /*flex-direction: row;*/ /*เรียงเป็นแถว*/
  /*flex-wrap: nowrap;*//*ถ้าที่ไม่พอให้เบียดกัน*/
  /*ทำ2บรรทัดบนให้เป็นคำสั่งเดียว (ย่อคำสั่ง)*/
  flex-flow: row nowrap;
  box-sizing: border-box;
  /*justify-content: center;*/ /*ใช้จัดตำแหน่ง*/
  /*่justify-conten: space-evenly; ใช้กำหนดพื้นที่รอบๆ */
  background-color: var(--nav-color);
  align-items: stretch; /*ทุก item จะสูงเท่ากับคอนเทนเนอร์*/

}
/*แบ่งสัดส่วน nav โดยอ้างอิงคลาสแม่ลูก*/
/*.flex-nav > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
}*/
/*แบ่งสัดส่วน nav แบบตรงๆ*/
.item{
  /*background-color : #f1f1f1;*/
  display: block;
  margin: 5px;
  padding: 2.5px;
  align-items: center; /*จำตำแหน่งให้ไอเท็มที่อยู่ด้านใน flex*/
  position: relative;
  display: inline-flex; /*ให้ DemonLogo อยู่ในแถวเดียวกันเสมอ*/
  text-align: center;
  margin-right: 30px;
}
.icon{
  color: var(--nav-txt-white);
 /* order: -1;*//*เรียงลำดับ 1 -1  หรือ 0 ฯลฯ */
  display: flex;
}
.Logo{
  display: flex;
  flex-grow: 1;
  white-space: nowrap; /* ป้องกันข้อความแตกบรรทัด */

}
.Menubar{
  flex-grow: 2; /*ขยายเบียดคนอื่น*/
  margin-left: auto;

}


/*ปรับขนาดฟอนต์เมื่อหน้าจอเล็กลง*/

/*Logo*/

.DemonLogo {
    font-family: "Kanit", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: var(--Logo-dark);
    text-shadow: 
      -1px -1px 0 whitesmoke,  
       1px -1px 0 whitesmoke,  
      -1px  1px 0 whitesmoke,  
       1px  1px 0 whitesmoke; /* ซ้อนเงาเพื่อสร้าง stroke */
       white-space: nowrap; /* ป้องกันข้อความขึ้นบรรทัดใหม่ ใช้อันไหนก็ได้ */
       display: inline-flex; /*ให้ DemonLogo อยู่ในแถวเดียวกันเสมอ*/
    text-align: center;
    
  }
.redLogo{
    color: #dd3030;
}

nav ul{
  display: flex;
  gap: 20px;
}
nav ul li{
  list-style-type: none;
}
nav ul li a{
  text-decoration: none;
  color: var(--nav-txt-white);
}
.flex-nav li:hover{
  text-decoration: underline; /* เอฟเฟกต์เมื่อวางเมาส์ */

}


/*Navbar End*/

/************************Branner*/

    .branner-box{
       /* max-width:    100vw; /* ความกว้างเท่ากับหน้าจอ */
       /* max-height: 400px;
        object-fit: fill;
        overflow: hidden;
        max-width: auto;*/
  height: 350px;
  position: relative;
  margin: auto;
  overflow: hidden; /* ครอบภาพให้พอดีกับคอนเทนเนอร์ */
  object-fit: fill;

    }
    .position-text{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  }




/*Grid Body Start*/
.grid{
  
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: auto 1fr auto;  /*ขนาดตามเนื้อหาเต็มพื้นที่/ขนาดตามเนื้อหา*/
  grid-template-areas:
  'header'
  'body' /**/
  'footer';
  height: 100vh;
}
.page-header{
  grid-area: header;
  height:400px;

}
.page-body{
  grid-area:body;
  background:rgb(34, 32, 32)
}
.grid-footer{
  grid-area: footer;

}
.content{
 /* background-color: gold;*/
  /*border: 2px solid rgb(255, 0, 0);*/
  box-sizing: border-box;
  padding: 0px;
  color: aliceblue;
}

/*Grid Body End*/




/*Grid card Start*/

.grid-card{/*จำนวนคอมลัมน์ที่จะแสดงในหน้าจอ*/
  display: grid;
  
  /*border: 2px solid rgb(255, 0, 0);*/
  grid-template-columns: 1fr 1fr 1fr;/*กำหนดขนาดคอลัมฯ์*/
  column-gap: 10px; /*พื้นที่ว่างแนวตั้ง*/
  row-gap: 10px;
  justify-items: center;
  align-items: center; /*กำหนดตำแหน่งในไอเท็ม*/
  padding: 50px;
  -webkit-transition-duration: 0.4s; /* Safari */
  /* กำหนดเวลาเปลี่ยนแปลงเอฟเฟกต์ใน Safari */
  transition-duration: 0.4s;
  /* กำหนดเวลาเปลี่ยนแปลงเอฟเฟกต์ในเบราว์เซอร์อื่น ๆ */


}

.content-card{ /*card item*/
  background-color: rgba(71, 40, 40, 0.463);
  
 /*border: 2px solid rgb(240, 0, 0); *//*เส้นขอบไอไว้ดูเป็นไกด์*/
  box-sizing: border-box;
  justify-content: center;
  width: 360px;
  height: 500px ;
  margin: 20px;
  overflow: hidden; 
  word-wrap: break-word; /* บังคับให้ขึ้นบรรทัดใหม่ */
  /*overflow-wrap: hidden;*/
  border-radius: 30px;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* เพิ่มเงาให้ card โดยระบุค่า offset, blur และสีเงา */
  -webkit-transition-duration: 0.4s; /* Safari */
  /* กำหนดเวลาเปลี่ยนแปลงเอฟเฟกต์ใน Safari */
  transition-duration: 0.4s;
  /* กำหนดเวลาเปลี่ยนแปลงเอฟเฟกต์ในเบราว์เซอร์อื่น ๆ */

  cursor: pointer; /* แสดงเคอร์เซอร์เป็นรูปมือเมื่อชี้ไปที่ปุ่ม */

}



.grid-card img{ /*รูปภาพ card*/
 /* max-width: 100%; *//* ขนาดภาพจะไม่ใหญ่เกินขนาดคอน*/
 /* width: 100%;
  height: 250px;
  display: block;
  border-radius: 30px;
  object-fit: cover;*/
  
  border-radius: 30px;
  width: 100%; /* หรือกำหนดขนาดตามที่ต้องการ เช่น 300px */
  height: 400px; /* ปรับความสูงตามต้องการ */
  overflow: hidden; /* ครอบภาพให้พอดีกับคอนเทนเนอร์ */
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
/*  width: 415px;*/ /* หรือระบุขนาดที่แน่นอน เช่น 300px */
  /*height: 300px; *//* ขนาดความสูงที่ต้องการ */
 /* object-fit: cover;*/ /* ครอบรูปโดยยังคงสัดส่วน */
}


.content-data{
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  font-family: "Kanit", sans-serif;
  font-size: 14px;
  white-space: nowrap; /* ป้องกันข้อความจากการแตกบรรทัด */
  overflow: hidden;
  text-overflow: ellipsis; /* เพิ่ม ... ในข้อความที่ถูกตัด */

  

}

.name-demon{
  background-color:var(--Logo-red) ;
  width: 80%;
  height: 100px;
  border-top-right-radius: 25px;
  align-items: center;
  padding-top: 7px;
  padding-left: 20px;
  font-family: "Kanit", sans-serif;

}
}












/********จอกว้าง ตั้งแต่ 601 - 999****************************************************************/
/*Navbar Start*/
@media (min-width:601px) and (max-width: 999px) {

.material-symbols-outlined {
  color: nav-txt-white;
  font-size: clamp(14px, 2vw, 20px); 
  display: none;
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24
}

body{
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 400px;
  font-style: normal;    
  background-color: rgb(34, 32, 32); 
  /*background-color: var(--bg-dark);*/
}
html,body{
height: 100%;
width: 100%;
}

.flex-nav {
display: flex;
/*flex-direction: row;*/ /*เรียงเป็นแถว*/
/*flex-wrap: nowrap;*//*ถ้าที่ไม่พอให้เบียดกัน*/
/*ทำ2บรรทัดบนให้เป็นคำสั่งเดียว (ย่อคำสั่ง)*/
flex-flow: row nowrap;
box-sizing: border-box;
justify-content: space-between;
/*justify-content: center;*/ /*ใช้จัดตำแหน่ง*/
/*่justify-conten: space-evenly; ใช้กำหนดพื้นที่รอบๆ */
background-color: var(--nav-color);
align-items: stretch; /*ทุก item จะสูงเท่ากับคอนเทนเนอร์*/

}
/*แบ่งสัดส่วน nav โดยอ้างอิงคลาสแม่ลูก*/
/*.flex-nav > div {
background-color: #f1f1f1;
margin: 10px;
padding: 20px;
font-size: 30px;

}*/
/*แบ่งสัดส่วน nav แบบตรงๆ*/
.item{
/*background-color : #f1f1f1;*/
display: block;
margin: 2px;

padding: 2.5px;
align-items: center; /*จำตำแหน่งให้ไอเท็มที่อยู่ด้านใน flex*/
position: relative;
display: inline-flex; /*ให้ DemonLogo อยู่ในแถวเดียวกันเสมอ*/
text-align: center;

margin-right: clamp(30px,5vw,150px); /*margin-right ไม่ต่ำกว่า 10px พยายามตั้งอยู่ที่ 30% ของหน้าจอ w,jgdbo 30px*
}
.icon{
color: var(--nav-txt-white);
/* order: -1;*//*เรียงลำดับ 1 -1  หรือ 0 ฯลฯ */
display: flex;
}
.Logo{
display: flex;
flex-grow: 0;
white-space: nowrap; /* ป้องกันข้อความแตกบรรทัด */
}
.Menubar{
flex-grow: 2; /*ขยายเบียดคนอื่น*/
margin-left: auto;



}


/*ปรับขนาดฟอนต์เมื่อหน้าจอเล็กลง*/

/*Logo*/

.DemonLogo {
  font-family: "Kanit", sans-serif;
  font-size: clamp(18px, 3vw, 30px);
  font-weight: bold;
  color: var(--Logo-dark);
  text-shadow: 
    -1px -1px 0 whitesmoke,  
     1px -1px 0 whitesmoke,  
    -1px  1px 0 whitesmoke,  
     1px  1px 0 whitesmoke; /* ซ้อนเงาเพื่อสร้าง stroke */
     white-space: nowrap; /* ป้องกันข้อความขึ้นบรรทัดใหม่ ใช้อันไหนก็ได้ */
     display: inline-flex; /*ให้ DemonLogo อยู่ในแถวเดียวกันเสมอ*/
  text-align: center;
  
}
.redLogo{
  color: #dd3030;
}

nav ul{
display: flex;
gap:clamp(5px, 30vw, 10px); /*margin-right ไม่ต่ำกว่า 10px พยายามตั้งอยู่ที่ 30% ของหน้าจอ w,jgdbo 30px*/
}
nav ul li{
list-style-type: none;
}
nav ul li a{
text-decoration: none;
color: var(--nav-txt-white);
font-size: clamp(12px, 1.5vw, 18px);
}
.flex-nav li:hover{
text-decoration: underline; /* เอฟเฟกต์เมื่อวางเมาส์ */

}
   

/*Navbar End*/


/************************Branner*/

    .branner-box{
       /* max-width:    100vw; /* ความกว้างเท่ากับหน้าจอ */
       /* max-height: 400px;
        object-fit: fill;
        overflow: hidden;
        max-width: auto;*/
  
  height: 280px;
  position: relative;
  margin: auto; 
  overflow: hidden; /* ครอบภาพให้พอดีกับคอนเทนเนอร์ */
  object-fit: fill;
  

    }
    .position-text{
  color: #f2f2f2;
  font-size: clamp(10px, 30vw, 15px); /*margin-right ไม่ต่ำกว่า 10px พยายามตั้งอยู่ที่ 30% ของหน้าจอ w,jgdbo 30px*/
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  }





/*Grid Body Start Card/*Grid Body Start Card* แบ่งหัว/เนื้อหา/foter/*/
.grid{
display: grid;
grid-template-columns:1fr;
grid-template-rows: auto 1fr auto;  /*ขนาดตามเนื้อหาเต็มพื้นที่/ขนาดตามเนื้อหา*/
grid-template-areas:
'header'
'body' /**/
'footer';
height: 100vh;
}
.page-header{
grid-area: header;
height: 300px ;
margin-bottom:clamp(15px, 2vw, 20px);
}
.page-body{
grid-area:body;
background:rgb(34, 32, 32)
}
.grid-footer{
grid-area: footer;

}
.content{
/* background-color: gold;*/

box-sizing: border-box;
padding: 0px;
color: aliceblue;
}

/*Grid Body End*/




/*Grid card Start*/

.grid-card{/*จำนวนคอมลัมน์ที่จะแสดงในหน้าจอ*/
display: grid;
/*border: 2px solid rgb(255, 0, 0);*/
grid-template-columns: 1fr 1fr 1fr;/*กำหนดขนาดคอลัมฯ์*/
column-gap: 20px; /*พื้นที่ว่างแนวตั้ง*/
row-gap: 10px;
justify-items: center;
align-items: center; /*กำหนดตำแหน่งในไอเท็ม*/
padding: 20px;
}

.content-card{ /*card item*/
background-color: rgba(71, 40, 40, 0.463);
/*border: 2px solid rgb(240, 0, 0); *//*เส้นขอบไอไว้ดูเป็นไกด์*/
box-sizing: border-box;
justify-content: center;
width: 100%; /* หรือกำหนดขนาดตามที่ต้องการ เช่น 300px */
max-width: 200px;
height: clamp(200px, 60vw, 300px); /*margin-right ไม่ต่ำกว่า 10px พยายามตั้งอยู่ที่ 30% ของหน้าจอ w,jgdbo 30px*/
margin: 20px;
overflow: hidden; 
word-wrap: break-word; /* บังคับให้ขึ้นบรรทัดใหม่ */
/*overflow-wrap: hidden;*/
border-radius: clamp(25px, 30vw, 30px); /*margin-right ไม่ต่ำกว่า 10px พยายามตั้งอยู่ที่ 30% ของหน้าจอ w,jgdbo 30px*/
position: relative;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* เพิ่มเงาให้ card โดยระบุค่า offset, blur และสีเงา */

}



.grid-card img{ /*รูปภาพ card*/
/* max-width: 100%; *//* ขนาดภาพจะไม่ใหญ่เกินขนาดคอน*/
/* width: 100%;
height: 250px;
display: block;
border-radius: 30px;
object-fit: cover;*/

border-radius: 30px;
width: 100%; /* หรือกำหนดขนาดตามที่ต้องการ เช่น 300px */
max-width: 220px;
height: 210px; /* ปรับความสูงตามต้องการ */
overflow: hidden; /* ครอบภาพให้พอดีกับคอนเทนเนอร์ */
object-fit: cover;
display: block;
margin-bottom: 10px;
/*  width: 415px;*/ /* หรือระบุขนาดที่แน่นอน เช่น 300px */
/*height: 300px; *//* ขนาดความสูงที่ต้องการ */
/* object-fit: cover;*/ /* ครอบรูปโดยยังคงสัดส่วน */
}


.content-data{
padding-left: 10px;
padding-right: 10px;
height: 50px;
font-family: "Kanit", sans-serif;
font-size: 12px;
white-space: nowrap; /* ป้องกันข้อความจากการแตกบรรทัด */
overflow: hidden;
text-overflow: ellipsis; /* เพิ่ม ... ในข้อความที่ถูกตัด */



}

.name-demon{
background-color:var(--Logo-red) ;
width: 80%;
height: 100px;
border-top-right-radius: 25px;
align-items: center;
padding-top: 4px;
padding-left: 20px;
font-family: "Kanit", sans-serif;
font-size:clamp(8px, 30vw, 14px); /*margin-right ไม่ต่ำกว่า 10px พยายามตั้งอยู่ที่ 30% ของหน้าจอ w,jgdbo 30px*/
white-space: nowrap; /* ป้องกันข้อความจากการแตกบรรทัด */
overflow: hidden;
text-overflow: ellipsis; /* เพิ่ม ... ในข้อความที่ถูกตัด */


}
}



/* Style C: สำหรับหน้าจอ <= 480px */


/*Navbar Start*/
@media only screen and (max-width = 1000px) {

  .material-symbols-outlined {
    color: nav-txt-white;
    font-size: 0.8rem;
    display: none;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  }
  
  body{
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
    font-weight: 400px;
    font-style: normal;
    background-color:  rgb(34, 32, 32);     
   /* background-color: var(--bg-dark);*/
  }
  html,body{
  height: 100%;
  width: 100%;
  }
  
  .flex-nav {
  display: flex;
  /*flex-direction: row;*/ /*เรียงเป็นแถว*/
  /*flex-wrap: nowrap;*//*ถ้าที่ไม่พอให้เบียดกัน*/
  /*ทำ2บรรทัดบนให้เป็นคำสั่งเดียว (ย่อคำสั่ง)*/
  flex-flow: row nowrap;
  box-sizing: border-box;
  /*justify-content: center;*/ /*ใช้จัดตำแหน่ง*/
  /*่justify-conten: space-evenly; ใช้กำหนดพื้นที่รอบๆ */
  background-color: var(--nav-color);
  align-items: stretch; /*ทุก item จะสูงเท่ากับคอนเทนเนอร์*/
  
  }
  /*แบ่งสัดส่วน nav โดยอ้างอิงคลาสแม่ลูก*/
  /*.flex-nav > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
  }*/
  /*แบ่งสัดส่วน nav แบบตรงๆ*/
  .item{
  /*background-color : #f1f1f1;*/
  display: block;
  margin: 2px;
  padding: 2.5px;
  align-items: center; /*จำตำแหน่งให้ไอเท็มที่อยู่ด้านใน flex*/
  position: relative;
  display: inline-flex; /*ให้ DemonLogo อยู่ในแถวเดียวกันเสมอ*/
  text-align: center;
  margin-right: 30px;
  
  }
  .icon{
  color: var(--nav-txt-white);
  /* order: -1;*//*เรียงลำดับ 1 -1  หรือ 0 ฯลฯ */
  display: flex;
  }
  .Logo{
  display: flex;
  flex-grow: 0;
  white-space: nowrap; /* ป้องกันข้อความแตกบรรทัด */
  }
  .Menubar{
  flex-grow: 2; /*ขยายเบียดคนอื่น*/
  margin-left: auto;
  
  
  
  }
  
  
  /*ปรับขนาดฟอนต์เมื่อหน้าจอเล็กลง*/
  
  /*Logo*/
  
  .DemonLogo {
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: var(--Logo-dark);
    text-shadow: 
      -1px -1px 0 whitesmoke,  
       1px -1px 0 whitesmoke,  
      -1px  1px 0 whitesmoke,  
       1px  1px 0 whitesmoke; /* ซ้อนเงาเพื่อสร้าง stroke */
       white-space: nowrap; /* ป้องกันข้อความขึ้นบรรทัดใหม่ ใช้อันไหนก็ได้ */
       display: inline-flex; /*ให้ DemonLogo อยู่ในแถวเดียวกันเสมอ*/
    text-align: center;
    
  }
  .redLogo{
    color: #dd3030;
  }
  
  nav ul{
  display: flex;
  gap: 10px;
  }
  nav ul li{
  list-style-type: none;
  }
  nav ul li a{
  text-decoration: none;
  color: var(--nav-txt-white);
  font-size: 12px;
  }
  .flex-nav li:hover{
  text-decoration: underline; /* เอฟเฟกต์เมื่อวางเมาส์ */
  
  }
  
  
  /*Navbar End*/
  
  
  /************************Branner*/
  
      .branner-box{
         /* max-width:    100vw; /* ความกว้างเท่ากับหน้าจอ */
         /* max-height: 400px;
          object-fit: fill;
          overflow: hidden;
          max-width: auto;*/
    margin-bottom: 20px;
    max-height: 280px;
    position: relative;
    margin: auto; 
    overflow: hidden; /* ครอบภาพให้พอดีกับคอนเทนเนอร์ */
    object-fit: fill;
  
      }
      .position-text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    }
  
  
  
  
  
  /*Grid Body Start Card*/
  .grid{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: auto 1fr auto;  /*ขนาดตามเนื้อหาเต็มพื้นที่/ขนาดตามเนื้อหา*/
  grid-template-areas:
  'header'
  'body' /**/
  'footer';
  height: 100vh;
  }
  .page-header{
  grid-area: header;
  height: 300px;
  }
  .page-body{
  grid-area:body;
  background:rgb(34, 32, 32)
  }
  .grid-footer{
  grid-area: footer;
  
  }
  .content{
  /* background-color: gold;*/
  
  box-sizing: border-box;
  padding: 0px;
  color: aliceblue;
  }
  
  /*Grid Body End*/
  
  
  
  
  /*Grid card Start*/
  
  .grid-card{/*จำนวนคอมลัมน์ที่จะแสดงในหน้าจอ*/
  display: grid;
  /*border: 2px solid rgb(255, 0, 0);*/
  grid-template-columns: 1fr 1fr;/*กำหนดขนาดคอลัมฯ์*/
  column-gap: 20px; /*พื้นที่ว่างแนวตั้ง*/
  row-gap: 10px;
  justify-items: center;
  align-items: center; /*กำหนดตำแหน่งในไอเท็ม*/
  padding: 20px;
  }
  
  .content-card{ /*card item*/
  background-color: rgba(71, 40, 40, 0.463);
  /*border: 2px solid rgb(240, 0, 0); *//*เส้นขอบไอไว้ดูเป็นไกด์*/
  box-sizing: border-box;
  justify-content: center;
  width: 100%; /* หรือกำหนดขนาดตามที่ต้องการ เช่น 300px */
  max-width: 200px;
  height: 300px ;
  margin: 20px;
  overflow: hidden; 
  word-wrap: break-word; /* บังคับให้ขึ้นบรรทัดใหม่ */
  /*overflow-wrap: hidden;*/
  border-radius: 30px;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* เพิ่มเงาให้ card โดยระบุค่า offset, blur และสีเงา */
  }
  
  
  
  .grid-card img{ /*รูปภาพ card*/
  /* max-width: 100%; *//* ขนาดภาพจะไม่ใหญ่เกินขนาดคอน*/
  /* width: 100%;
  height: 250px;
  display: block;
  border-radius: 30px;
  object-fit: cover;*/
  
  border-radius: 30px;
  width: 100%; /* หรือกำหนดขนาดตามที่ต้องการ เช่น 300px */
  max-width: 220px;
  height: 210px; /* ปรับความสูงตามต้องการ */
  overflow: hidden; /* ครอบภาพให้พอดีกับคอนเทนเนอร์ */
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
  /*  width: 415px;*/ /* หรือระบุขนาดที่แน่นอน เช่น 300px */
  /*height: 300px; *//* ขนาดความสูงที่ต้องการ */
  /* object-fit: cover;*/ /* ครอบรูปโดยยังคงสัดส่วน */
  }
  
  
  .content-data{
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  font-family: "Kanit", sans-serif;
  font-size: 12px;
  white-space: nowrap; /* ป้องกันข้อความจากการแตกบรรทัด */
  overflow: hidden;
  text-overflow: ellipsis; /* เพิ่ม ... ในข้อความที่ถูกตัด */
  
  
  
  }
  
  .name-demon{
  background-color:var(--Logo-red) ;
  width: 80%;
  height: 100px;
  border-top-right-radius: 25px;
  align-items: center;
  padding-top: 4px;
  padding-left: 20px;
  font-family: "Kanit", sans-serif;
  font-size: 14px;
  white-space: nowrap; /* ป้องกันข้อความจากการแตกบรรทัด */
  overflow: hidden;
  text-overflow: ellipsis; /* เพิ่ม ... ในข้อความที่ถูกตัด */
  
  
  }
  }


/* Style C: สำหรับหน้าจอ <= 480px */
/*Navbar Start*/

@media (max-width: 600px) {

  .material-symbols-outlined {
    color: nav-txt-white;
    font-size: 0.8rem;
    display: none;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  }
  
  body{
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
    font-weight: 400px;
    font-style: normal;    
    background-color:  rgb(34, 32, 32); 
   /* background-color: var(--bg-dark);*/
  }
  html,body{
  height: 100%;
  width: 100%;
  }
  
  .flex-nav {
  display: flex;
  /*flex-direction: row;*/ /*เรียงเป็นแถว*/
  /*flex-wrap: nowrap;*//*ถ้าที่ไม่พอให้เบียดกัน*/
  /*ทำ2บรรทัดบนให้เป็นคำสั่งเดียว (ย่อคำสั่ง)*/
  flex-flow: row nowrap;
  box-sizing: border-box;
  justify-content: space-between;
  /*justify-content: center;*/ /*ใช้จัดตำแหน่ง*/
  /*่justify-conten: space-evenly; ใช้กำหนดพื้นที่รอบๆ */
  background-color: var(--nav-color);
  align-items: stretch; /*ทุก item จะสูงเท่ากับคอนเทนเนอร์*/
  
  }
  /*แบ่งสัดส่วน nav โดยอ้างอิงคลาสแม่ลูก*/
  /*.flex-nav > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  
  }*/
  /*แบ่งสัดส่วน nav แบบตรงๆ*/
  .item{
  /*background-color : #f1f1f1;*/
  display: block;
  margin:  clamp(0.1px, 2vw, 1px);
 
  padding: clamp(0.5px, 2vw, 2.5px);
  align-items: center; /*จำตำแหน่งให้ไอเท็มที่อยู่ด้านใน flex*/
  position: relative;
  display: inline-flex; /*ให้ DemonLogo อยู่ในแถวเดียวกันเสมอ*/
  text-align: center;
  margin-right: clamp(10px,10vw, 60px);;
  
  }
  .icon{
  color: var(--nav-txt-white);
  /* order: -1;*//*เรียงลำดับ 1 -1  หรือ 0 ฯลฯ */
  display: flex;
  }
  .Logo{
  display: flex;
  flex-grow: 0;
  white-space: nowrap; /* ป้องกันข้อความแตกบรรทัด */
  }
  .Menubar{
  flex-grow: 2; /*ขยายเบียดคนอื่น*/
  margin-left: auto;
  
  
  
  }
  
  
  /*ปรับขนาดฟอนต์เมื่อหน้าจอเล็กลง*/
  
  /*Logo*/
  
  .DemonLogo {
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: var(--Logo-dark);
    text-shadow: 
      -1px -1px 0 whitesmoke,  
       1px -1px 0 whitesmoke,  
      -1px  1px 0 whitesmoke,  
       1px  1px 0 whitesmoke; /* ซ้อนเงาเพื่อสร้าง stroke */
       white-space: nowrap; /* ป้องกันข้อความขึ้นบรรทัดใหม่ ใช้อันไหนก็ได้ */
       display: inline-flex; /*ให้ DemonLogo อยู่ในแถวเดียวกันเสมอ*/
    text-align: center;
    
  }
  .redLogo{
    color: #dd3030;
  }
  
  nav ul{ 
  display: flex;
  gap: clamp(10px, 2vw, 20px); 

  }
  nav ul li{
  list-style-type: none;
  }

  /*ตั้งค่าเมนูใน navbar*/
  nav ul li a{
  text-decoration: none;
  color: var(--nav-txt-white);
  white-space: nowrap;
  font-size: clamp(2.5px, 2vw, 16px);
  }
  .flex-nav li:hover{
  text-decoration: underline; /* เอฟเฟกต์เมื่อวางเมาส์ */
  
  }
  
  
  /*Navbar End*/
  
  
  /************************Branner*/
  
      .branner-box{
         /* max-width:    100vw; /* ความกว้างเท่ากับหน้าจอ */
         /* max-height: 400px;
          object-fit: fill;
          overflow: hidden;
          max-width: auto;*/
    max-height: 280px;
    position: relative;
    margin: auto; 
    overflow: hidden; /* ครอบภาพให้พอดีกับคอนเทนเนอร์ */
    object-fit: fill;
    
  
      }
      .position-text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    }
  
  
  
  
  
  /*Grid Body Start Card*/
  .grid{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: auto 1fr auto;  /*ขนาดตามเนื้อหาเต็มพื้นที่/ขนาดตามเนื้อหา*/
  grid-template-areas:
  'header'
  'body' /**/
  'footer';
  height: 100vh;
  }
  .page-header{
  grid-area: header;
  height: 300px;
 
  
  }
  .page-body{
  grid-area:body;
  background:rgb(34, 32, 32);
  
  
  }
  .grid-footer{
  grid-area: footer;
  
  }
  .content{
  /* background-color: gold;*/
  
  box-sizing: border-box;
  padding: 0px;
  color: aliceblue;
  }
  
  /*Grid Body End*/
  
  
  
  
  /*Grid card Start*/
  
  .grid-card{/*จำนวนคอมลัมน์ที่จะแสดงในหน้าจอ*/
  display: grid;
  /*border: 2px solid rgb(255, 0, 0);*/
  grid-template-columns: 1fr 1fr;/*กำหนดขนาดคอลัมฯ์*/
  column-gap: 20px; /*พื้นที่ว่างแนวตั้ง*/
  row-gap: 10px;
  justify-items: center;
  align-items: center; /*กำหนดตำแหน่งในไอเท็ม*/
  padding: 20px;
  }
  
  .content-card{ /*card item*/
  background-color: rgba(71, 40, 40, 0.463);
  /*border: 2px solid rgb(240, 0, 0); *//*เส้นขอบไอไว้ดูเป็นไกด์*/
  box-sizing: border-box;
  justify-content: center;
  width: 100%; /* หรือกำหนดขนาดตามที่ต้องการ เช่น 300px */
  max-width: 200px;
  height: 300px ;
  margin: 20px;
  overflow: hidden; 
  word-wrap: break-word; /* บังคับให้ขึ้นบรรทัดใหม่ */
  /*overflow-wrap: hidden;*/
  border-radius: 30px;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* เพิ่มเงาให้ card โดยระบุค่า offset, blur และสีเงา */
  
  
}
  
  
  
  .grid-card img{ /*รูปภาพ card*/
  /* max-width: 100%; *//* ขนาดภาพจะไม่ใหญ่เกินขนาดคอน*/
  /* width: 100%;
  height: 250px;
  display: block;
  border-radius: 30px;
  object-fit: cover;*/
  
  border-radius: 30px;
  width: 100%; /* หรือกำหนดขนาดตามที่ต้องการ เช่น 300px */
  max-width: 220px;
  height: 210px; /* ปรับความสูงตามต้องการ */
  overflow: hidden; /* ครอบภาพให้พอดีกับคอนเทนเนอร์ */
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
  /*  width: 415px;*/ /* หรือระบุขนาดที่แน่นอน เช่น 300px */
  /*height: 300px; *//* ขนาดความสูงที่ต้องการ */
  /* object-fit: cover;*/ /* ครอบรูปโดยยังคงสัดส่วน */
  }
  
  
  .content-data{
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  font-family: "Kanit", sans-serif;
  font-size: 12px;
  white-space: nowrap; /* ป้องกันข้อความจากการแตกบรรทัด */
  overflow: hidden;
  text-overflow: ellipsis; /* เพิ่ม ... ในข้อความที่ถูกตัด */
  
  
  
  }
  
  .name-demon{
  background-color:var(--Logo-red) ;
  width: 80%;
  height: 100px;
  border-top-right-radius: 25px;
  align-items: center;
  padding-top: 4px;
  padding-left: 20px;
  font-family: "Kanit", sans-serif;
  font-size: 14px;
  white-space: nowrap; /* ป้องกันข้อความจากการแตกบรรทัด */
  overflow: hidden;
  text-overflow: ellipsis; /* เพิ่ม ... ในข้อความที่ถูกตัด */
  
  
  }
  }


  /*Effect Click Content-card*/
  .content-card{
    
  -webkit-transition-duration: 0.4s; /* Safari */
  /* กำหนดเวลาเปลี่ยนแปลงเอฟเฟกต์ใน Safari */
  transition-duration: 0.4s;
  /* กำหนดเวลาเปลี่ยนแปลงเอฟเฟกต์ในเบราว์เซอร์อื่น ๆ */

  cursor: pointer; /* แสดงเคอร์เซอร์เป็นรูปมือเมื่อชี้ไปที่ปุ่ม */

  }
  .content-card:after {
    content: "";
    /* เนื้อหาในปุ่มหลังจากการกด (เป็นช่องว่าง) */
    background: #90EE90;
    /* สีพื้นหลังของเอฟเฟกต์ Ripple เป็นสีเขียวอ่อน */
    display: block;
    /* กำหนดให้เป็นบล็อกสำหรับการแสดงผล */
    position: absolute;
    /* ตำแหน่งอยู่ในตำแหน่งแน่นอนภายในปุ่ม */
    padding-top: 300%;
    /* เพิ่มระยะขอบด้านบนของเอฟเฟกต์ Ripple */
    padding-left: 350%;
    /* เพิ่มระยะขอบด้านซ้ายของเอฟเฟกต์ Ripple */
    margin-left: -20px!important;
    /* กำหนดระยะห่างด้านซ้ายให้อยู่ที่ -20px */
    margin-top: -150%;
    /* กำหนดระยะห่างด้านบนให้อยู่ที่ -120% */
    opacity: 0;
    /* ตั้งความโปร่งใสเริ่มต้นของเอฟเฟกต์ Ripple เป็น 0 */
    transition: all 0.8s;
    /* กำหนดเวลาเปลี่ยนแปลงสำหรับคุณสมบัติทั้งหมดในเอฟเฟกต์ */
  }
  
  .content-card:active:after {
    padding: 0;
    /* ลดระยะขอบของเอฟเฟกต์ Ripple เป็น 0 เมื่อกด */
    margin: 0;
    /* ลดระยะห่างของเอฟเฟกต์ Ripple เป็น 0 เมื่อกด */
    opacity: 1;
    /* ตั้งค่าความโปร่งใสของเอฟเฟกต์ Ripple เป็น 1 เมื่อกด */
    transition: 0s;
    /* ยกเลิกเวลาการเปลี่ยนแปลงเมื่อเอฟเฟกต์ถูกกระตุ้น */
  }
  

















  /*------------------------------------------------------------------------------------------------------------------------------*/
  /*----------------------Detail Character  ขนาดหน้าจอ 601 px ขึ้นไป -------------------------*/
  @media (min-width: 770px) {
  .flex-container-card-detail {
    border-radius: 30px;
    display: flex;
    justify-self: center;
    align-items: stretch;
    background-color: #6c0000;
    width: 70rem;

   /* margin-top: 100px;
    margin-left: 200px;
    margin-right: 100px;
    margin-bottom: 100px;*/
    margin: 100px;
    border: 2px solid rgb(255, 0, 0);
   
  }
  
  .flex-container-card-detail  > div {
    justify-content: flex-start;
    align-items: center;
    background-color:#6c0000;
    color: white;
    margin: 20px;
    text-align: left;
    width: 80px;
    height: 380px;
    box-sizing: border-box;
    line-height: 40px;
    font-size: 16px;
    overflow-wrap: break-word;
   /* word-wrap: break-word;*/
    /*white-space: normal; *//* ขึ้นบรรทัดใหม่อัตโนมัติ */
    /* overflow-wrap: break-word;*/ /* อีกคำสั่งที่มีผลเหมือนกัน */


  
  }
  .flex-container-card-detail img{
    border: 2px solid rgb(255, 0, 0);
    border-radius: 30px;
    width: 300px; /* หรือกำหนดขนาดตามที่ต้องการ เช่น 300px */
    height: 100%; /* ปรับความสูงตามต้องการ */
    overflow: hidden; /* ครอบภาพให้พอดีกับคอนเทนเนอร์ */
    object-fit: cover;
    display: block;

  }
}


 /*----------------------Detail Character  ขนาดหน้าจอ 600 px ขึ้นไป -------------------------*/
 @media (max-width: 769px) {
  .flex-container-card-detail {
    flex-direction:column;
    border-radius: 30px;
    display: flex;
    justify-self: center;
    align-items: stretch;
    background-color: #6c0000;
    width: 20rem;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;;
    padding-right: 15px;
    padding-left: 10px;
    padding-top: 15px;
   
  
   /* margin-top: 100px;
    margin-left: 200px;
    margin-right: 100px;
    margin-bottom: 100px;*/

    border: 2px solid rgb(255, 0, 0);
   
  }
  
  .flex-container-card-detail  > div {
    justify-content: flex-start;
    align-items: center;
    background-color:#6c0000;
    color: white;
    text-align: left;
    width: 18rem ;
    height: auto;
    box-sizing: border-box;
    line-height: 40px;
    font-size: 14px;
    overflow-wrap: break-word;
    margin-bottom: 10px;
   /* word-wrap: break-word;*/
    /*white-space: normal; *//* ขึ้นบรรทัดใหม่อัตโนมัติ */
    /* overflow-wrap: break-word;*/ /* อีกคำสั่งที่มีผลเหมือนกัน */


  
  }
  .flex-container-card-detail img{
    border: 2px solid rgb(255, 0, 0);
    border-radius: 30px;
    width: 290px; /* หรือกำหนดขนาดตามที่ต้องการ เช่น 300px */
    height: 350px; /* ปรับความสูงตามต้องการ */
    overflow: hidden; /* ครอบภาพให้พอดีกับคอนเทนเนอร์ */
    object-fit: cover;
    display: block;
    margin-bottom: 20px;
  

  }
}



/*note
ช่ครับ! นอกจาก  ยังมีคำสั่งอื่นใน CSS 
เพื่อปรับขนาดและการแสดงผลของรูปภาพให้เหมาะสมกับ \
container ของมัน โดยคำสั่งที่ใช้กันบ่อยมีดังนี้:

*/


